<mat-card>
  <mat-card-title>
    Dodawanie pokoju
  </mat-card-title>
  <mat-card-content>
    <form #form="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <mat-form-field>
            <input matInput id="name" type="text" [(ngModel)]='model.name' name='name' required minlength='2' #name="ngModel"/>
            <label for="name">Nazwa pokoju</label>
            <ng-container *ngIf='name.invalid && name.touched'>
              <div class='card-panel red darken-1' *ngIf='name.errors.required'>
                Pole wymagane
              </div>
            </ng-container>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <mat-form-field>
            <input matInput id="numberOfSeats" type="number" [(ngModel)]='model.numberOfDesks' name='numberOfSeats' required minlength='1' #numberOfSeats="ngModel"/>
            <label for="numberOfSeats">Liczba miejsc</label>
            <ng-container *ngIf='numberOfSeats.invalid && numberOfSeats.touched'>
              <div class='card-panel red darken-1' *ngIf='numberOfSeats.errors.required'>
                Pole wymagane
              </div>
            </ng-container>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <input  #csvInput hidden="true" type="file" onclick="this.value=null" (change)="handleFileInput($event.target.files)"/>
            <button mat-flat-button color="primary" (click)="csvInput.click()">Wybierz plik</button>
        </div>
      </div>
    </form>
    <button mat-button (click)="addRoom(model.name, model.numberOfDesks)" [disabled]="form.invalid || !fileSelected()">Dodaj</button>
  </mat-card-content>
</mat-card>
