<h1 mat-dialog-title>Dodawanie pokoju</h1>
<div mat-dialog-content>
  <p>Czy na pewno chcesz dodać nowy pokój o nazwie: {{ data.name }} z liczbą miejsc {{ data.numberOfDesks }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClickAction()">Cofnij</button>
  <button mat-button (click)="onAddUserAction()" >Dodaj</button>
</div>
