<mat-card>
  <mat-card-title>
    <img alt="" style="width: 75%; display: block; margin: auto; justify-content: center;" mat-card-image src="{{ imageAddress }}" />
  </mat-card-title>
</mat-card>

<mat-card>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="lp">
        <th mat-header-cell *matHeaderCellDef> Lp </th>
        <td mat-cell *matCellDef="let element"> {{element.lp}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Opis biurka </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> Osoba </th>
        <td mat-cell *matCellDef="let element"> {{element.user}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="reserve(element.lp)" [disabled]="hasUser(element.user)"> Rezerwuj </button>
          <button mat-button (click)="goToRoom(element.id)" *ngIf="isSameUser(element.user)"> Odwołaj </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</mat-card>


