<div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="numberOfDesks">
        <th mat-header-cell *matHeaderCellDef> Liczba miejsc </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfDesks}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="chooseRoom(element.id)"> Wybierz </button>
          <button mat-button (click)="deleteRoom(element.id)"> Usuń </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
