<nav>
  <div>
    <a class="brand-logo" routerLink="/">Rezerwacja miejsc</a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="loginService.isAdminLoggedIn() ">
        <a routerLink="/add-room" routerLinkActive="active">Dodaj pokój</a>
      </li>
      <li *ngIf="loginService.isAdminLoggedIn() ">
        <a routerLink="/edit-room" routerLinkActive="active">Zarządzaj pokojami</a>
      </li>
      <li *ngIf="loginService.isUserLoggedIn()">
        <a routerLink="/reservations-list" routerLinkActive="active">Moje rezerwacje</a>
      </li>
      <li *ngIf="loginService.isUserLoggedIn()">
        <a matBadge="22" routerLink="/rooms-list" routerLinkActive="active">Pokoje</a>
      </li>
      <li *ngIf="loginService.isUserLoggedIn() || loginService.isAdminLoggedIn() ">
        <a (click)="loginService.logOut()" routerLink="/login" routerLinkActive="active">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <div>
    <div class="container">
      {{ config?.date | date: 'yyyy' }} {{ config?.footer }}
    </div>
  </div>
</footer>
