table {
  width: 100%;
}

.mat-table {
  background: hsla(0,0%,94.5%,.2);
  margin: 20px;

}

.mat-cell {
  color: black;
  border-bottom: black;
}

.mat-header-cell {
  color: black;
}

div {
  margin: 40px;
}

.mat-button {
  margin: 2px;
  background-color: lightblue;
}

mat-card {
  margin: 50px;
  background-color: hsla(0,0%,94.5%,.2);
}

mat-card-title {
  color: black;
}

mat-card-subtitle {
  color: black;
}

mat-form-field {
  color: black;
  width: 70%;
}

:host /deep/ .mat-select-value-text {
  color: black !important;
}

::ng-deep mat-form-field span.mat-form-field-label-wrapper label {
  color:orange !important;
}

::ng-deep mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color:green !important;
}

::ng-deep .mat-select-placeholder {
  color: orange !important;
}

.mat-option {
  background-color: black;
}

.mat-hint {
  color: #9e9e9e;
}

::ng-deep .mat-select-arrow {
  color: rgb(10, 73, 99);
}

.example-full-width {
  width: 50%;
}

.mat-button {
  margin: 2px;
  background-color: lightblue;
}
