<mat-card>
  <mat-card-title>
    Wybierz datę by pokazać dostępne pokoje
  </mat-card-title>
  <mat-card-content>
    <form #form="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <mat-form-field>
            <input (ngModelChange)="searchRoomByDate(name)" matInput id="name" type="date" [(ngModel)]='model.name' name='name' required minlength='2' #name="ngModel"/>
            <label for="name">Data</label>
            <ng-container *ngIf='name.invalid && name.touched'>
              <div class='card-panel red darken-1' *ngIf='name.errors.required'>
                Pole wymagane
              </div>
            </ng-container>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="showTable">
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="numberOfDesks">
        <th mat-header-cell *matHeaderCellDef> Liczba miejsc </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfDesks}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="chooseRoom(element.id)"> Przejdź do pokoju </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</mat-card>

