<h1 mat-dialog-title>Usuwanie użytkownika</h1>
<div mat-dialog-content>
  <p>Czy na pewno chcesz usunąć użytkownika o id {{ data.id }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClickAction()">Cofnij</button>
  <button mat-button (click)="onDeleteUserAction()" >Usuń</button>
</div>
