table {
  width: 100%;
}

.mat-table {
  background: hsla(0,0%,94.5%,.2);
  margin: 20px;
}

.mat-cell {
  color: black;
  border-bottom: black;
}

.mat-header-cell {
  color: black;
}

.mat-button {
  margin: 2px;
  background-color: lightblue;
}

div {
  margin: 40px;
}
