<div class="container">
  <div>
    Użytkownik : <input type="text" name="username" [(ngModel)]="username">
    Hasło : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
  <ng-container *ngIf='invalidLogin'>
    <div class='card-panel red darken-1'>
      Niepoprawny login lub hasło
    </div>
  </ng-container>
</div>
